/* Inline style override fixes to merge with main stylesheet */

img {
    display: block;
    width: 100%;
    height: auto;
} /* Responsive image that maintains aspect ratio */

/* Incomplete fixes */

table {
    border: none;
} /* Table header styles would be helpful */

/* Active fixes */

h1, h2, h3, h5, h5, h6 {
    font-size: 100%;
} /* Headings need parent and after selectors + > for p, ul, ol, table and subsequent heading classes */

.body .fieldset-legend, legend { 
    font-weight: bold;
} /* Match field labels on forms */

.body hr {
    height: .5px;
    border: 0;
    background-color: #ccc;
    margin: 2em 0;
} /* Remove border outline and adjust padding */

.body ul + h2,
.body ul + h3,
.body ul + h4,
.body ul + h5,
.body ol + h2,
.body ol + h3,
.body ol + h4,
.body ol + h5 {
    margin-top: 1em;
} /* Add padding to headings placed after unordered and ordered lists */