/* Inline style override fixes to merge with main stylesheet */

.fieldset-legend { 
    font-weight: bold;
    font-size: 100%;
} /* Form style that is currently applied to match field labels */

table {
    border: none;
} /* Table header styles would be helpful */

h1, h2, h3, h5, h5, h6 {
    font-size: 100%;
} /* Headings need parent and after selectors + > for p, ul, ol, table and subsequent heading classes */

ul + h2,
ul + h3,
ul + h4,
ul + h5,
ol + h2,
ol + h3,
ol + h4,
ol + h5 {
    margin-top: 1em;
} /* Add padding to headings placed after unordered and ordered lists */